{%extends 'base.html'%}
{%load static%}
{% block title %} HOME {% endblock %}
{%block css_files%} 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
{%endblock%}
{%block content%}

{% comment %} landing image + search {% endcomment %}
<div class="landing_grid">
    <div class="landing_page_container">
        <div>
            <img class="landing_image" src="{%static 'images/wayfarerlanding.jpeg'%}">
        </div>
        <h1 class="home_header">wayfarer&nbsp;<i class="fas fa-map-pin"></i></h1>
        <form class="landing_search_form" method="POST" action="{%url 'search_locations' %}">
            {%csrf_token%}
            <input type="search" placeholder="search state i.e NY" name="searchInfo">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="landing_page_trending">
        <h2 id="hot-header">Hot Locations</h2>
        
        <div class="hot-1">
            <div class="hotimage">
                <img src={{hot_location1.image}}>
            </div>
            <h3 class="image_title"><a href="{%url 'location_detail_page' hot_location1.name%}">{{hot_location1}}</a></h3>
        </div>
        
        <div class="hot-2">
            <div class="hotimage">
                <img src={{hot_location2.image}}>
            </div>
            <h3 class="image_title"><a href="{%url 'location_detail_page' hot_location2.name%}">{{hot_location2}}</a></h3>
        </div>
        
        <div class="hot-3">
            <div class="hotimage">
                <img src={{hot_location3.image}}>
            </div>
            <h3 class="image_title"><a href="{%url 'location_detail_page' hot_location3.name%}">{{hot_location3}}</a></h3>
        </div>

    </div>

    {% comment %} Recent Posts {% endcomment %}
    <div class="landing_page_recentposts">
        <h2 class="recent_header">Recent Posts</h2>
        {%for post in recent_posts|slice:":6"%}
        <ul class="recentposts">
            <li><img class="recentprofileimages" src="{{post.author.image}}">&nbsp;{{post.author}}</li>
            <br>
            <li class="recent_title"><a href="{%url 'location_detail_page' post.post_location.name%}">{{post.title}}</a></li>
            <li>{{post.content}}</li>
            <br>
            <hr>
            <li>{{post.created_at}}</li>
        </ul>
        {%endfor%}
    </div>
</div>


{%endblock%}