{% extends 'base.html'%}

{%block content%}

<div class="foundlocationinfo_text">
    <h1>{{found_location.name}}, {{found_location.state}}</h1>
    <img class="foundimage" src="{{found_location.image}}">
</div>


<br>

<div class="foundlocationinfo_posts">
    <h2>Recent Posts</h2>

    <form action="" method="POST">
        {%csrf_token%}
        {{form}}
        <button type="submit">Add Post</button>
    </form>
    
    <br>

    <ul class="alltheposts">
        {%for post in location_posts%}
        <li>{{post.author}}-{{post.title}}:{{post.content}}-{{post.created_at}}</li>
        {%endfor%}
    </ul>
</div>

{%endblock%}