
{%extends 'base.html'%}
{% load static %}


{%block js_files%}
<script src="{%static 'scripts/profileModal.js'%}" defer></script>
{%endblock%}

{%block content%}
<h1>Hello {{user_profile.user.username}}</h1>


<p>name:{{user_profile.name}}</p>
<p>location: {{user_profile.profile_location}}</p>
<p>join date: {{user_profile.join_date}}</p>
<img src="{{user_profile.image}}" height="300px" width="300px"</img>

<br>

<button>Edit Profile</button>

<form action="{%url 'profile_page' %}" method="POST">
    {%csrf_token%}
    {{form}}
    <button type="submit">Submit</button>
</form>
{%endblock%}