{%extends 'base.html'%}

{%block content%}

{%if search_locations%}
    <div class="success_search">
        <h1 class="search_head">Search results for: {{searchInfo}}</h1>

        {%for found_location in search_locations %}
            <div class="search_results">
                <h3><a href="{% url 'location_detail_page' found_location.name %}">{{found_location}}</a></h3>
            </div>
        {%endfor%}
    </div>
{%else%}
    <div class="error_search">
        <h1 class="search_head">Error: No Matches for {{searchInfo}}</h1>
        <h3 class="search_minor">Try State abbreviations like NY, CA!</h3>
    </div>
{%endif%}

{%endblock%}